doctype html

html
  head
    title Reports!
  body
    section.section.header-image(style='background-position: center')
      .container
        h2.title.is-2 REPORTS TITLE
        p.subtitle.is-4 REPORTS description
    section.section.media.sub-section.section-1-header
      .media-left
        img.section-image-1
      .media-content
        .container
          h3.title.is-3 REPORTS SECTION 1
          h5.subtitle.is-5 Section 1 descriptions.
