doctype html

html
  head
    title Reports!
  body
    section.section.media
      .media-left.image
        img.header-level-left-img#headerImg1
      .media-content
        .container
          h2.title REPORTS TITLE
          p.subtitle REPORTS description
    section.section.sub-section#sectionImg1
      h3.title.is-3 REPORTS SECTION 1
      h5.subtitle.is-5 Section 1 descriptions.
