doctype html

html
  head
    title ~~~ TITLE ~~~
    meta(charset='UTF-8')
    meta(name='viewport' value='min-width: device-width; initial-scale: 1')
  body
    section.section.header-image(style='background-position: center')
      .container
        h2.title.is-2 Lorem ipsum dolor sit amet - Template for reports
        p.subtitle.is-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in mattis leo, a maximus odio.
    section.section.media.sub-section
      .media-left
        img.section-image-1
      .media-content
        .container
          h3.title.is-3 Praesent vestibulum dapibus purus
          h5.subtitle.is-5 Praesent vestibulum dapibus purus, ac auctor elit finibus nec.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in mattis leo, a maximus odio. Mauris ligula tortor, cursus sed ex ac, congue facilisis diam. Duis scelerisque dignissim leo, quis gravida ante auctor et. In scelerisque lobortis nisl, placerat aliquet nibh accumsan in. Integer sit amet faucibus mi. Nulla quis erat nec velit mollis laoreet. Aenean egestas ullamcorper dictum. Donec ultricies nibh ut sapien tincidunt, et porttitor eros porttitor. Vivamus vitae odio felis. Praesent tempor, nulla sed pulvinar malesuada, massa ex laoreet turpis, at pharetra turpis ipsum a orci.
          p Praesent vestibulum dapibus purus, ac auctor elit finibus nec. Suspendisse ultricies pretium justo, non lobortis ante maximus vitae. Maecenas ut laoreet felis. In quis magna odio. Curabitur augue sem, ornare blandit urna sed, aliquet commodo tortor. Aenean id odio at ligula varius dictum. Pellentesque quis laoreet enim. Phasellus viverra consectetur malesuada. Nulla malesuada quam eu suscipit tempus.
          .columns
            .column
              .card.for-image
                .card-image.for-describing
                  figure.image
                    img.example-image
                .card-content
                  .content
                    i.center Figure 1.1 - Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
            .column
              .card.for-image
                .card-image.for-describing
                  figure.image
                    img.example-image
                .card-content
                  .content
                    i.center Figure 1.2 - Class aptent taciti sociosqu ad litora torquent per conubia nostra
          p Duis blandit libero vel dignissim molestie. Proin id dictum metus, venenatis imperdiet massa. Mauris sit amet tempor ante, at commodo tellus. Nam non augue et leo ullamcorper pulvinar. Proin vestibulum dui eu elit rutrum, dapibus dictum purus feugiat. Nullam cursus ante nisl, non sollicitudin arcu rutrum a. Aliquam hendrerit arcu tellus, eget viverra mauris vehicula quis. Nam imperdiet laoreet nisi at aliquam. Praesent malesuada, purus sit amet dictum malesuada, nunc enim varius augue, eget elementum diam urna sed sem. Cras egestas purus eu metus maximus, et cursus enim porta.
    section.section.media.sub-section
      .media-content
        .container
          h3.title.is-3 Some elements
          h5.subtitle.is-5 You can just reference those.
          .columns
            .column
              // Image Card
              .card.for-image
                .card-image.for-describing
                  figure.image
                    img.example-image
                .card-content
                  .content
                    i.center Figure 1.1 - Images Description
